{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
{% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<h2>Doctors</h2>
<a href="{% url 'add_doctor' %}" class="btn btn-primary mb-3">Add Doctor</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Specialization</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor.user.username }}</td>
            <td>{{ doctor.specialization }}</td>
            <td>{{ doctor.phone_number }}</td>
            <td>
                <a href="{% url 'edit_doctor' doctor.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'delete_doctor' doctor.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}