{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
{% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<h2>Patients</h2>
<a href="{% url 'add_patient' %}" class="btn btn-primary mb-3">Add Patient</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.user.username }}</td>
            <td>{{ patient.phone_number }}</td>
            <td>{{ patient.age }}</td>
            <td>
                <a href="{% url 'edit_patient' patient.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'delete_patient' patient.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}