{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<h2>Appointments</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Appointment Date</th>
            <th>Status</th>
            
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.patient.user.username }}</td>
            <td>{{ appointment.doctor.user.username }}</td>
            <td>{{ appointment.appointment_date }}</td>
            <td>{{ appointment.status }}</td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}